body {
  margin: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.quote {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

#quote1 {
  margin-bottom: 300px;
}

#quote2 {
  margin-bottom: 130px;
}

.audio-controls {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

button {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}